.aside {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 18px 25px 8px;
  background: #f2eae1;
}

.aside-title__text {
  font-family: Montserrat;
  color: #000;
  font-size: 17px;
  font-weight: 700;
  border-left: 4px solid #f8d442;
  padding-left: 12.5px;
  margin-bottom: 40px;
}

.aside-admin {
  margin-bottom: 4rem;
}

.aside-admin__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.aside-admin__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 10px;
  color: #000;
}

.aside-admin__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  font-family: Montserrat;
  line-height: 17px;
  color: #feaf00;
  text-align: center;
}

.aside-pages {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 195px;
  row-gap: 12px;
}

.aside-page {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease;
  padding: 0;
}

.aside-page__link {
  width: 100%;
  padding: 13px 0 11px 41px;
  display: flex;
  gap: 19px;
  align-items: center !important;
  text-decoration: none;
}

.aside-page .active-page,
.aside-page .active {
  background: #feaf00;
}

.aside-page:hover {
  background: #feaf00;
  cursor: pointer;
}

.aside-page__icon {
  width: 20px;
  height: 18px;
}

.aside-page__text {
  color: #000;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.aside-logout {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 23px;
  width: 100%;
  padding: 12px 0;
  border-radius: 6px;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  background: transparent;
}

.aside-logout:hover {
  background: #feaf00;
  cursor: pointer;
}

.aside-logout__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0;
}
