.header {
  width: 1100px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}
.header-last {
  color: #c4c4c4;
  transition: all 0.3s ease;
}
.header-last:hover {
  color: #000000c7;
  cursor: pointer;
}
.header-extra {
  display: flex;
  column-gap: 27px;
  align-items: center;
}
.header-extra__search {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 9px 13px;
  outline: none;
}
.header-extra__search:focus {
  border-color: #c4c4c4;
}
.header-extra__info {
  color: #c4c4c4;
  transition: all 0.3s ease;
}
.header-extra__info:hover {
  color: rgba(0, 0, 0, 0.781);
  cursor: pointer;
}
