.payment {
  background: #e5e5e5 3f;
  height: calc(100% - 88px);
}

.payment__inner {
  padding: 20px 0;
}

.payment__inner__inner {
  height: calc(100vh + 100px);
}

.students-info__title {
  color: #000;
  font-size: 22px;
  font-family: Montserrat;
  font-weight: 700;
}
